.titulo1{
    text-align: left;
}
.titulo2{
    text-align: center;
    
}
.row{
    margin-left: 20px;
    display: flex;
}
.imagen{
   
  text-align: center;
}
.imagenes2{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
}